{% include "header.html" %}
{% load static %}
<!-- ======= Hero Section ======= -->
<main id="main" xmlns="http://www.w3.org/1999/html">
    <section class="d-flex align-items-center" style="">
        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <div class="sidepanel" id="sidepanel">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="shadow-textarea">
                                <select class="mytext w-100 text-center z-depth-1" id="Transaction_Type" name="Transaction_Type" required>
                                    <option value="">Select Transaction</option>
                                        {% for item, key in Transactions.items %}
                                        <option value="{{ key }}">{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="shadow-textarea">
                                <select class="mytext w-100 text-center z-depth-1" id="cds" name="cds" required>
                                    <option value="">Select Track Data</option>
                                    <option value="1">Track1 data</option>
                                    <option value="2">Track2 data</option>
                                    <option value="4">Track1 and Track2 data</option>
                                    <option value="5">Encrypted data</option>
                                    <option value="6">Emv Data</option>
                                    <option value="7">CRM Token</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="shadow-textarea">
                                <select class="mytext w-100 text-center z-depth-1" id="Trn_amt" name="Trn_amt" required>
                                    <option value="">Select Transaction Amount</option>
                                    <option value="random">Random</option>
                                    <option value="2.03">$2.03</option>
                                    <option value="2.78">$2.78</option>
                                    <option value="3.26">$3.26</option>
                                    <option value="3.27">$3.27</option>
                                    <option value="3.28">$3.28</option>
                                    <option value="4.41">$4.41</option>
                                    <option value="6.34">$6.34</option>
                                    <option value="7.67">$7.67</option>
                                    <option value="8.64">$8.64</option>
                                    <option value="9.63">$9.63</option>
                                    <option value="9.64">$9.64</option>
                                    <option value="9.65">$9.65</option>
                                    <option value="9.66">$9.66</option>
                                    <option value="9.67">$9.67</option>
                                    <option value="9.68">$9.68</option>
                                    <option value="9.69">$9.69</option>
                                    <option value="9.70">$9.70</option>
                                    <option value="9.71">$9.71</option>
                                    <option value="9.72">$9.72</option>
                                    <option value="21.64">$21.64</option>
                                    <option value="24.41">$24.41</option>
                                    <option value="37.88">$37.88</option>
                                    <option value="0.00 ">$0.00 </option>
									<option value="1.00">$1.00 </option>
									<option value="50.00">$50.00 </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-primary w-100" onclick="Get_Transaction_Details()">Enter </a></div>
                    </div>
                    <div class="col-md-12 mt-5 d-none" id="card-details">
                        <div>
                            <h5 class="text-center" >Enter Card Details</h5>
                            <hr>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                            <div class="col-md-2">
                                <input type="text" class="m-2 shadow-textarea mytext  text-center z-depth-1" id="TrackData" name="TrackData" placeholder="Enter Track data / CRM TOKEN"  required/>
                            </div>
                            <div class="col-md-2">
                                <input class="m-2 shadow-textarea mytext  text-center z-depth-1" id="EmvDetailsData" name="EmvDetailsData" placeholder="Enter Emv data"  required />
                            </div>
                           <div class="col-md-2">
                                <select class="m-2 shadow-textarea mytext text-center z-depth-1" id="pin" name="pin" required>
                                    <option value="">Select Key</option>
                                    <option value="01">Omnikey</option>
                                    <option value="00">ChaseKey</option>
                                    <option value="02">FdKeys</option>
                                </select>
                           </div>
                           <div class="col-md-2">
                                <input type="text" class="m-2 shadow-textarea mytext  text-center z-depth-1" id="PinBlock" name="PinBlock" placeholder="Enter PinBlock"  required/>
                           </div>
                            <div class="col-md-2">
                                <input type="text" class="m-2 shadow-textarea mytext  text-center z-depth-1" id="KsnBlock" name="KsnBlock" placeholder="Enter KsnBlock"  required/>
                            </div>
                            <div class="col-md-2">
                                <button class="m-2 btn btn-primary w-100" id="submit" name="addsubmit" onclick="performScenario()" type="submit">Submit </button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <div class="row">
                    <div class="col-md-12" id="ErrorText"></div>
                </div>
                <div class="row" id="TransactionBlock">
                    <div class="col-md-3 tableFixHead" id="TransactionBlock_gcb"></div>
                    <div class="col-md-3 tableFixHead" id="TransactionBlock_parent"></div>
                    <div class="col-md-3 tableFixHead" id="TransactionBlock_child"></div>
                    <div class="col-md-3 tableFixHead" id="TransactionBlock_childofchild"></div>
                </div>
            </div>
        </div>
    </section>
</main>
<div id="preloader"></div>
<a class="back-to-top" href="#"><i class="icofont-simple-up"></i></a>
<script src="{% static 'asset/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'asset/vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'asset/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'asset/vendor/counterup/counterup.min.js' %}"></script>
<script src="{% static 'asset/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'asset/vendor/venobox/venobox.min.js' %}"></script>
<script src="{% static 'asset/vendor/aos/aos.js' %}"></script>
<script src="{% static 'asset/js/main.js' %}"></script>
<script src="{% static 'asset/js/Outdoor_Processor.js' %}"></script>
<script>

$(document).ready(function() {
    $("body").tooltip({ selector: '[data-toggle=tooltip]' });
});

$("button").click(function(){
  $("p").toggleClass("main");
});

function copyToClipboard(element, element2) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
  $('body').find('.float-button').removeClass("float-button-click");
  $(element2).toggleClass("float-button-click");
}

function Get_Transaction_Details(){
    var cds = $("#cds").val();
    console.log(cds)
    if(cds == 1 || cds == 2 || cds == 4 || cds == 7) {
    $('#card-details').removeClass('d-none');
    $("#TrackData").attr("required", "true");

    }
    if(cds === 6 || cds === 17){
    $('#card-details').removeClass('d-none');
    $("#TrackData").attr("required", "true");
    $("#EmvDetailsData").attr("required", "true");
    }
}

function performScenario(){
    const Iteration = "1";
    before_data_send(Iteration, " Iteration started");
    const transType = $("#Transaction_Type").val();
    const cds = $("#cds").val();
    const productCount = $("#product_count").val();
    const TrackData  =  $("#TrackData").val();
    const EmvDetailsData = $("#EmvDetailsData").val();
    const pbm =  $("#pin").val();
    const pinData = $("#pin").val();
    const PinBlock = $("#PinBlock").val();
    const KsnBlock = $("#KsnBlock").val();
    const Trn_amt = $("#Trn_amt").val();
    const row =  {
            Trans_type: transType,
            cds: cds,
            pbm: pbm,
            product_count: productCount,
            Iteration: Iteration,
            Trn_amt: Trn_amt,
            rowData : {
                TrackData: TrackData,
                EmvDetailsData: EmvDetailsData,
                pinData: pinData,
                PinBlock: PinBlock,
                KsnBlock: KsnBlock
            }
    };

    fetch("/Single_Outdoor_Testing", {
    method: "POST",  // POST request
    body: JSON.stringify(row)  // Send the data as a JSON string
    })
    .then((response) => response.json())  // Handle the JSON response
    .then((data) => {
        showLoaderMessage("Iterations Completed");
        if(data.Data.ErrorText != ""){
            $("#ErrorText").html('<p class="red"><b>'+data.Data.ErrorText+'</p></b>')
        } else{
            Transaction_report(data, transType, Iteration, true)
        }
        })
    .catch((error) => {
        console.error("Error:", error);  // Handle any errors
    });
}
</script>
</body>
</html>